@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box;font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('bc.jpg');
    background-size: 100% 100%;
}
ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul li{
    list-style: none;
    text-align: center;
    color: #333;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 20px;
    border-radius: 10px
}
ul:hover li{
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
ul li:hover{
    color: #333;
    background: #fff;
    box-shadow: 0 15px rgba(0, 0, 0, 0.075);
}
ul li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    width: 100vw;
    height: 100vh;
    background: #f00;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18vw;
    -webkit-text-stroke: 0px #000;
    letter-spacing: 100px;
}
ul li:hover::before{
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}
ul li:nth-child(1)::before{
    background: linear-gradient(#d52b1e 0%,#d52b1e 33%,gray 33%
    ,gray 66%,#d52b1e 66%,#d52b1e 66%);
    clip-path: polygon(100% 0, 72% 16%, 100% 31%, 100% 64%, 100% 79%, 100% 100%, 0 100%, 0 0);


}
ul li:nth-child(2)::before{
    background: linear-gradient(#005bbc 0%,#005bbc 50%,#ffd600 50%
    ,#ffd600 100%);
}
ul li:nth-child(3)::before{
    background: linear-gradient(#fff 0%,#fff 33%,#0039a6 33%
    ,#0039a6 66%,#d52b1e 66%,#d52b1e 66%);
}
